*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	background: url('image/background1.jpg') repeat;
	color: white;

}

.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	
	list-style-type: none;

}
nav ul li{
	display: inline-block;
	margin-right: 20px;
	
}
nav ul li a{
	color: white;
}
li{
	color: white;
}
#logo{

	height: 150px;
	float: left;
	margin-left: -10;
	width: 15%;

}
#banner{
	height: 150px;
	float: left;
	margin-left: -10;
	width: 60%;
	padding-left: 30px;

}
#Home img {
	border-radius: 50%;
	height: 300px;
	margin-left: 100px;
}
#Intro{
	position:absolute;
	top: 200px;
	margin-left: 400px;
	font-size: 30px;
	font-weight: bolder;


}
#about{
	margin-left: 300px;
	position: relative;
	font-size: 30px;
	font-weight: bolder;
	padding: 100px;
}
#about p{
	font-size: 20px;
}
#Belief{
	margin-left: 500px;
	position: relative;
	font-size: 30px;
	font-weight: bold;
}

#Belief ul{
	text-decoration-style: circle;
}
.footer{
	background: #000;
	color:#8a8a8a;
	font-size: 14px;
	padding: 60px;
	
}


.footer p{
	color:#8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3,.footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
	

}
.footer-col-1{
	flex-basis: 30px;
	

} 
.footer-col-2{
	flex-basis: 10%;
	text-align: center;
	margin-right: 50px;
	
}   
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;	
}
.footer-col-3, ..footer-col-4{
	flex-basis: 12%;
	text-align: center;
	margin-left: 50px; 
	
}  